
.property-card .content {
    position: absolute;
    top: 35%;
    z-index: 2;
    left: 0%;
    width: 100%;
}
#main-content {
	height: auto;
	hgroup h1{
		font-size: 3em;
	}
}
#contact-us .headshot {
	height: auto;
	.hgroup{
		padding: 1.5em 1em;
		h1{
			font-size: 1.7em;
		}
	} 
	img {

		width:100%;
		height:auto;
	}
}




.jumbotron{
	border-top:91px;
}




/*==============================
=            Footer            =
==============================*/
.general-content{
	.social{
		.gform_body .ginput_container_email input{
			width: 100%;
		}
		.followus{
			text-align: left;
			h3{
				padding-left:1em;
			}
		}
	}
}

#email-marketing {
	padding: 0;
	margin-bottom: 1em;
	.gform_body {
		width:100%;
	}
	.gform_footer {
		width: 100%; 
	}
}

.contact-location .info,
.info{
	
    li{
    	padding-bottom: 2em;
    	display: block;
    	padding-right: 0;
    	a{
    		background-color: $brand-primary;
    		color:inherit;
    		font-family:$fourth-font;
    		font-size:0.9em;
    		color:#fff;
				display: block;
				height: 2em;
				line-height: 2;
    	}
    }
	}
.content-info .foot {
	span{
		font-size: 14px;
		line-height: 59px;
	}
	a{
		font-size: 2em;
	}
	.footer-nav li{
		font-size: 1em;
	}
}
#main-content .bg-img{
	left: initial;
	/* right: -100%; */
}

.modal .modal-dialog {
	width:95%;
	.modal-content .modal-body .close{
		right:0;
	}
	
}
.jumbotron .content{
	font-size: 73px;
}
.tips-content .content{
	width:90%;
}
