.general-content{
	.social{
		.followus{
			text-align: left;
			h3{
				padding-left:1em;
			}
		}
	}
}
#main-content hgroup h1{
	font-size: 5.5em;
}
#main-content .bg-img{
	width: auto;
	height:100%;
}