.content-info{
	text-align: center;
	display: inline-block;
    width: 100%;

	.foot{
		height:110px;
		background: $brand-dark;
		text-align: center;
		span{
			color:#fff;
			line-height: 110px;
			font-size: 20px;
		}
	}
}
	.info{
		padding: 0;
    list-style: none;
    padding: 2em 0;
    li{
    	color:$font-color;
    	font-size: 24px;
    	display: inline-block;
    	padding-right:2em; 
    	a{
    		color:inherit;
    	}
    }
	}