/*======================================
=            Property post Obj            =
======================================*/
.property-obj {
	padding:2.7em 2.7em 0.5em 2.7em;
	span { 
		font-size:2.3em; 
		color:#fff;
		font-family:$fourth-font; 
		font-weight:400;
	}
	img {
		display:auto;
		width:100%;
		max-width:100%;
		overflow:hidden;
	}
	ul,li { list-style:none; margin: 0; padding: 0;}
	li {
		padding:0.5em 1em 0 0;
		font-size:1em;
		display: inline-block;
		text-align:center;
		i { 	
				width: 100%; 
				clear:both;
			    font-size: 2.5em;
			    color: #fff;
			    line-height:1em;
				
		}
		span {
			 width:100%; 
			 display:block; 
			clear:both;
			font-size:1em;
		}
	}
	a {
		font-family:$fourth-font; 
		font-size:1.2em;
		text-transform:uppercase;
		padding:1em 0em;
		display:inline-block;
		font-weight: 400;
		&:hover{
			color: #D397C3;
		}
	}
}
/*==========================================
=      Featured Propery Obj             =
==========================================*/
.featured {
	background:$purple-dark;
	min-height:50vh;
	padding-right:0px;
	margin: 0;
	.title {
		font-weight:100;
	 text-transform:uppercase;
	 margin: 0;
	 font-family:$primary-font;
	 color:#fff;
	 font-size:3em;
	 padding:0.2em 1em 0.2em 1em;
	 background:$purple;
	 strong {
	 	font-weight:400;
	 }
	}

}
