.side{
	padding: 0; 
	h2{
		font-size: 48px;
		color: $brand-primary;
	}
	ul{
		list-style: none;
		padding-left: 1em;
		padding-bottom: 2em;
		border-bottom: 1px $grey solid;
		li{
		  margin-top:2em;

		  a{
			 font-size: 24px;
			}
		}
	}
}







.side{
	/*----------  Quick Links  ----------*/
	.quick-links{
		padding: 6%
	}	


	/*----------  Staff  ----------*/
			
	.staff{
		background: #fff;
		.staff-image{
			img{
				width:100%;
			}
			span{
				width: 100%;
		    background: $purple;
		    text-align: center;
		    display: block;
		    color: #fff;
		    font-size: 40px;
			}
		}
		ul{
			 
				a{
			    background: #3F999A;
			    color: #fff;
			    text-align: center;
			    text-decoration: none;
			    display: block;
			    height: 2em;
			    line-height: 2em;
			    margin-bottom: 1em;
				}
			 margin-right: 2em;
			 margin-left: 2em;
				p{
					font-size: 18px;
				}
		}
		.staff-info{
			text-align: center;
			margin-top: 2em;
			a{
		    margin-top: 1em;
		    background: #3F999A;
		    color: #fff;
		    font-size: 16px;
		    text-align: center;
		    text-decoration: none;
		    display: block;
		    height: 3em;
		    line-height: 3em;
		    margin-bottom: 1em;
			}
			span{
				margin-right: 1em;
			}
			.position{
				margin-bottom: 1em;
			}
			.email{
				margin-top: 1em;
			}
		}
	}
	
	/*----------  Property Info  ----------*/
	.property-info{
		padding: 8%;
		border-bottom:4em solid $secondary-primary;
		.address{
			font-size: 36px;
		}
		i{
			font-size: 18px;
			margin-top: 1em;
			margin-right: 2em;
			display: inline-block;
    	text-align: center;
			&:before{
				font-size: 26px;
    		display: block;
			}
			div{
				text-align: center;
			}
		}
		.price{
			font-size: 30px;
			font-weight: bold;
			margin-top: 1em;
			color: $brand-primary;
		}
	}
	
	/*----------  Inspections  ----------*/
	.inspection{
		font-size: 18px;
		padding: 2% 5% 2% 5%;
		.box{
			border: 1px solid $grey-dark;
			padding: 1em;
			font-size: inherit;
		}
		i{
			font-size: 24px;
			margin-right: 1em;
			vertical-align: sub;
			color: $brand-primary;
		}
		li{ 
			margin-top:1em;
			a{
				font-size: 18px;
				color:$font-color;
			}
		}
	}
	
	/*----------  Social links  ----------*/
	.social-links{
		padding: 2% 5% 2% 5%;
		i{
			font-size: 24px;
			margin-right: 1em;
			vertical-align: sub;
			color: $brand-primary;
		}
		li{
			margin-top:1em;
			a{
				font-size: 18px;
				color:$font-color;
			}
		} 
	}

	/*----------  Goolgle Map  ----------*/
	.map{
		.acf-map {
		width: 100%;
		height: 450px;
		border: #ccc solid 1px;
		margin: 0;
	  }
		.button-map{
			width:100%;
			margin-top: 1em;
			a{
		    width: 50%;
		    display: inline-block;
		    float: left;
		    text-align: center;
		    font-size: 24px;
		    text-decoration: none;
		    text-transform: uppercase;
		    &:first-child{
		    	border-right: 1px solid $grey-dark;
		    }
			}
		}

	}
}