
@font-face {
	font-family: 'Yanone Kaffeesatz';
	src: url($icon-font-path+'YanoneKaffeesatz-Bold.eot');
	src: url($icon-font-path+'YanoneKaffeesatz-Bold.eot?#iefix') format('embedded-opentype'),
		url($icon-font-path+'YanoneKaffeesatz-Bold.woff') format('woff'),
		url($icon-font-path+'YanoneKaffeesatz-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Yanone Kaffeesatz';
	src: url($icon-font-path+'YanoneKaffeesatz-Regular.eot');
	src: url($icon-font-path+'YanoneKaffeesatz-Regular.eot?#iefix') format('embedded-opentype'),
		url($icon-font-path+'YanoneKaffeesatz-Regular.woff') format('woff'),
		url($icon-font-path+'YanoneKaffeesatz-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Scheherazade';
	src: url($icon-font-path+'Scheherazade-Regular.eot');
	src: url($icon-font-path+'Scheherazade-Regular.eot?#iefix') format('embedded-opentype'),
		url($icon-font-path+'Scheherazade-Regular.woff') format('woff'),
		url($icon-font-path+'Scheherazade-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Scheherazade';
	src: url($icon-font-path+'Scheherazade-Bold.eot');
	src: url($icon-font-path+'Scheherazade-Bold.eot?#iefix') format('embedded-opentype'),
		url($icon-font-path+'Scheherazade-Bold.woff') format('woff'),
		url($icon-font-path+'Scheherazade-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Niconne';
	src: url($icon-font-path+'Niconne-Regular.eot');
	src: url($icon-font-path+'Niconne-Regular.eot?#iefix') format('embedded-opentype'),
		url($icon-font-path+'Niconne-Regular.woff') format('woff'),
		url($icon-font-path+'Niconne-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Yanone Kaffeesatz';
	src: url($icon-font-path+'YanoneKaffeesatz-ExtraLight.eot');
	src: url($icon-font-path+'YanoneKaffeesatz-ExtraLight.eot?#iefix') format('embedded-opentype'),
		url($icon-font-path+'YanoneKaffeesatz-ExtraLight.woff') format('woff'),
		url($icon-font-path+'YanoneKaffeesatz-ExtraLight.ttf') format('truetype');
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'Yanone Kaffeesatz';
	src: url($icon-font-path+'YanoneKaffeesatz-Light.eot');
	src: url($icon-font-path+'YanoneKaffeesatz-Light.eot?#iefix') format('embedded-opentype'),
		url($icon-font-path+'YanoneKaffeesatz-Light.woff') format('woff'),
		url($icon-font-path+'YanoneKaffeesatz-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}


@font-face {
	font-family: 'Century Gothic';
	src: url($icon-font-path+'CenturyGothic-Bold.eot');
	src: url($icon-font-path+'CenturyGothic-Bold.eot?#iefix') format('embedded-opentype'),
		url($icon-font-path+'CenturyGothic-Bold.woff') format('woff'),
		url($icon-font-path+'CenturyGothic-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Century Gothic';
	src: url($icon-font-path+'CenturyGothic.eot');
	src: url($icon-font-path+'CenturyGothic.eot?#iefix') format('embedded-opentype'),
		url($icon-font-path+'CenturyGothic.woff') format('woff'),
		url($icon-font-path+'CenturyGothic.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}


/* Generated by Glyphter (http://www.glyphter.com) on  Sun Dec 06 2015*/
@font-face {
    font-family: 'Pinnacle';
    src: url($icon-font-path+'Pinnacle.eot');
    src: url($icon-font-path+'Pinnacle.eot?#iefix') format('embedded-opentype'),
         url($icon-font-path+'Pinnacle.woff') format('woff'),
         url($icon-font-path+'Pinnacle.ttf') format('truetype'),
         url($icon-font-path+'Pinnacle.svg#Pinnacle') format('svg');
    font-weight: normal;
    font-style: normal;
}
[class*='icon-']:before{
	display: inline-block;
   font-family: 'Pinnacle';
   font-style: normal;
   font-weight: normal;
   line-height: 1;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale
}
.icon-BATH:before{content:'\0041';}
.icon-BED:before{content:'\0042';}
.icon-CAR:before{content:'\0043';}
.icon-facebook:before{content:'\0044';}
.icon-send-to-a-friend:before{content:'\0045';}
.icon-twitter:before{content:'\0046';}
.icon-google-icon:before{content:'\0047';}
.icon-save-to-calendar:before{content:'\0048';}
.icon-arrow-right:before{content:'\0049';}
.icon-arrow-left:before{content:'\004a';}
.icon-close:before{content:'\004b';}
.icon-fb:before{content:'\004c';}
.icon-tw:before{content:'\004d';}