html,body {margin: 0; padding: 0;}
h1 { font-family: $primary-font; 
	 letter-spacing:2px;
}
h2 { font-family: $secondary-font;}
.side{
	h2{ font-family: $primary-font;
			text-transform: uppercase;
	}
}

a {
	
	color:$brand-light;
}

.bg_grey {
	background:$grey;
  position: absolute;
  height: 400%;
  width: 100%;
  left: 0;
  top: 0;
  z-index: -1;
}
.grey-bg{
	background:$grey;
}

p{
	line-height: 2;
	font-family: $fourth-font;
}
ol{
	li{
		font-family: $fourth-font;
		line-height: 2;
	}
}
.remove-padding{
	padding-left: 0;
	padding-right: 0;
}

