// Glyphicons font path
$icon-font-path:        "../fonts/";

/*================================
=            Grid System         =
================================*/
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

/*================================
=            Colors            =
================================*/
$brand-primary:         	#740073;
$brand-dark: 				#330835;
$brand-light: 				#D499C7;
$secondary-primary:         #3F999A;
$secondary-dark:         	#296768;
$grey: 						#EBEBEB;
$grey-dark: 				#D7D7D7;


//Font 
$primary-font : 'Yanone Kaffeesatz';
$secondary-font : 'Scheherazade';
$third-font : 'Niconne';

/*================================
=            Patterns            =
================================*/
$pattern: '../images/texture.png';
$arrow: '../images/arrow.png';
$drop-arrow: '../images/drop-arrow.png';



/*=========================================
=            Semantic Coloring            =
=========================================*/
$purple: $brand-primary;
$purple-dark: $brand-dark;
$pink: $brand-dark;
$teal: $secondary-primary;
$teal-dark: $secondary-dark;


