.card{
	padding: 0;
	height: 642px;
	.head-card{
		overflow: hidden;
		height: 180px;
		img{
			width: 100%;
			height: auto;
			
		}
	}
	.content-card{
		padding: 10%;
		.title{
			font-size: 36px;
    	text-transform: uppercase;
    	color: $brand-primary;
    	line-height: 1;
    	margin-bottom: .6em;
		}
		p{
			font-size: 14px;
		}
		a{
			font-size: 18px;
			text-transform: uppercase;
		}
	}
	&.grey-dark{
		background-color: $grey-dark;
	}	
}
