#gravity-form {
.gform_wrapper {

	.gform_title {
		font-size:4em;
		text-align:center;
		font-family:$primary-font;
		text-transform:uppercase;
		width:100%;
	}
	.gform_description {
		text-align:center;
		width:100%;
	}

	.no-label {
		label {
		display:none !important;
		}
	}
	input {
		padding:0.5em;
		border:4px solid $grey-dark;
	}
	textarea {
		border:4px solid $grey-dark;
		padding:1em !important;
		display:inline-block;
	}
	.gform_button {
		border:0px;
		border-color:$teal;
		padding:1em 6em;
		font-size:1.3em;
		font-family:$secondary-font;
		float:right;
		margin:0 0.9em 0 0 ;
	}
 }
}
 .chosen-container {
     	border:4px solid $grey-dark;
     	background-image:none  !important;
     	background:#fff  !important;
     	width:(97.5%) !important;
     	.chosen-single {
     		// padding:1em !important;
     		min-height:3em;
     		line-height:3em;
     		display:block;
     		border:0px !important;
     		background-image:none  !important;
     		background:#fff  !important;
     		box-shadow:none !important;
     		span {
     			min-height:3em;
     			line-height:3em;
     			margin-right:2em !important;
     		}
     		div {
     			width:3.5em !important;
     			vertical-align:middle !important;
     			border:0px !important;
     			background-image:none !important;
     			b {
     			background-image:url($arrow) !important;
     			background-size:100% 100% !important;
     			width:3.5em !important;
     			vertical-align:middle !important;
     			/* display:table-cell; */
     			border-left:4px solid $grey-dark;
     			}
     			b:hover {
     			background-image:url($drop-arrow) !important;
                    
     			}
     		}
     	}
     	.chosen-drop {
     		border:4px solid $grey-dark !important;
     		background-image:none  !important;
     		background:#fff  !important;
     		.chosen-results {
     			margin: 0px !important;
     			padding:0px !important;
     			li {
     				padding:0.5em;
     				background-image:none  !important;
     				background:none !important;
     			}
     			li.highlighted {
     				background-image:none  !important;
     				background:$teal  !important;
     			}
     			li.result-selected {
     				background-image:none  !important;
     				background:$grey  !important;
     				color:#000 !important;
     			}
     		}
     	}
     }  
 
 /*==================================
 =            Search Box            =
 ==================================*/
#search{
	min-height: 24em;
     background: $grey;
     padding-top: 2em;
     label{
       color: $brand-primary;
       padding-left: 1em;
       font-weight:normal;
     }
     .surrounding{
          color: $brand-primary;
          margin: 1em 0;
     }
     .filter{
         label{
          display:block;
         }
         input{
              border: 4px solid #D7D7D7;
              min-height: 3em;
              outline-style: none;
              background: #fff;
              width: 79.5%;
          
         } 
         button{
          background-color: $secondary-primary;
          color:#fff;
          border:none;
          width: 18%;
          padding: .8em;
         }

     }
     .field{
          width: 50%;
          float: left;
          
     }
}

